.box{
width:90%;
height:900px;
margin-left:5%;
background-color:white;
}

.had{
font-size:65px;
text-align:center;
}

.hed{
font-size:35px;
text-align:center;
}

.col-sm-6{
font-size: 18px;
margin-left:5%;
}


.CL{
margin-top:50px;
}

.col-sm-4{
font-size:18px;
}

.r{
height:5px;
width:90%;
margin-left:5%;
}

.images{
font-size:18px;
margin-left:5%;
}

.pic{
width:100%;
height:100%;
}

.box2{
width:90%;
height:230px;
margin-left:5%;
background-color:white;
font-size:60px;
}

.pict{
width:100%;
height:100%;
}

.black{
height:500px;
width:100%;
background-color:#3e3333;
}

.tablle{
color:white;
font-size:15px;
width:90%;
padding-left:5%
}

.under{
border-bottom:2px solid grey;
font-size:24px;
}

.otstup{
height:10px;
}

.white{
background-color:lightgrey;
}